<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.mapper.TGoodsMapper">
    <resultMap id="BaseResultMap" type="com.test.TGoods">
        <id column="Fid" property="fId" jdbcType="INT"/>
        <result column="goods_id" property="goodsId" jdbcType="INT"/>
        <result column="good_name" property="goodName" jdbcType="VARCHAR"/>
        <result column="good_price" property="goodPrice" jdbcType="INT"/>
    </resultMap>
    <insert id="testInsert" parameterType="com.test.TGoods">
        <selectKey keyColumn="Fid" order="AFTER" keyProperty="fId" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into com.test.TGoods(goodsId,goodName,goodPrice) values(#{goodsId},#{goodName},#{goodPrice})
    </insert>
</mapper>
